body {
    min-width: 960px;
    font-weight: 400px;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Cuprum', 'PT Sans', "Arial", sans-serif;
    color: #000000;
    background-color: #ffffff;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
h1 {
  font: 700 36px / 1 Cuprum;
}
h2 {
  font: 400 30px / 1 Cuprum;
  margin-bottom: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
a {
  color: #F5F6F6;
}
.main-header {
  padding-bottom: 60px;
  color: #F5F6F6;
  background-color: #f1f5f7;
}
.m-line {
  margin-bottom: 0;
  height: 43px;
  background-color: #293449;
  font-size: 0;
}
.logo {
  text-align: center;
}
.logo a {
  display: inline-block;
  width: 220px;
  height: 43px;
  font-size: 24px;
  line-height: 43px;
  color: inherit;
  background-color: #EE3643;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 5px #b52933;
}
.logo-dwn a {
  height: 63px;
  padding-top: 16px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
.logo a:hover {
  background: #CA2C37;
  border-bottom-color: #9A212A;
}
.logo a:active {
  background: #BA2732;
  border-bottom-color: #8E1E26;
}
.container {
 margin: 0 auto;
 width: 940px;
}
.breadcrumbs ul {
  font-size: 0;
  margin-bottom: 20px;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}
.in-crumbs {
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-sm.png");
}
.m-line-element {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
}

.search p, .search .input-search {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.search {
    position: relative;
    width: 275px;
    height: 43px;
}

.search input[type="text"] {
    background: #293449;
    width: 270px;
    height: 43px;
    line-height: 42px;
    color: inherit;
    font-size: 17px;
    font-family: inherit;
    padding-left: 50px;
    outline: none;
    color: #fff;
}

.search button{
    position: absolute;
    left: 4px;
    top: 1px;
    width: 42px;
    height: 42px;
    background: #293449 url('../img/icon-search.png')no-repeat center center;
}
.search input[type="text"]:hover + button {
  background: #212A3A url('../img/icon-search-wh.png')no-repeat center center;
}
.search input[type="text"]:hover {
  background: #212a3a;
}
.search input[type="text"]:focus {
    background: #ffffff;
    color: #000;
}
.search input[type="text"]:focus + button {
    background: url('../img/icon-search-red.png')no-repeat center center;
}
.bookmark a {
  position: relative;
  display: block;
  width: 145px;
  height: 43px;
  padding-left: 40px;
  font-size: 17px;
  line-height: 42px;
  color: inherit;
  text-decoration: none;
  background: url("../img/icon-bookmark.png") no-repeat 12px 12px;
}
.bookmark a:hover {
  background: #212a3a url("../img/icon-bookmark-wh.png") no-repeat 12px 12px;
}
.bookmark a:active {
  background: #161D29 url("../img/icon-bookmark.png") no-repeat 12px 12px;
}
.basket {
  text-align: center;
}
.basket a {
  position: relative;
  display: block;
  width: 150px;
  height: 43px;
  padding-top: 12px;
  padding-left: 25px;
  font-size: 17px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  background: url("../img/icon-basket.png") no-repeat 12px 12px;
}
.basket a:hover {
  background: #212A3A url("../img/icon-basket-wh.png") no-repeat 12px 12px;
}
.basket a:active {
  background: #161D29 url("../img/icon-basket.png") no-repeat 12px 12px;
}
.basket .active {
  background-color: #ee3643;
}
.basket span {
  width: 26px;
}
.order {
  text-align: center;
}
.order a {
  display: block;
  width: 150px;
  height: 43px;
  padding-top: 12px;
  font-size: 17px;
  line-height: 18px;
  color: inherit;
  background-color: #63a63e;
  text-decoration: none;
}
.order a:hover {
  background: #5FBB2D;
}
.order a:active {
  background: #518534;
}
.headshot {
  min-height: 158px;
  margin: 0 auto;
  padding-top: 46px;
}
.info {
 float: left;
 margin-left: 52px;
 margin-top: 3px;
 color: ee3643;
}
.info p {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #e9292a;
}
.contact {
  float: left;
  width: 271px;
  min-height: 75px;
  margin-left: 71px;
  color: ee3643;
}
.contact .phone {
  position: relative;
  padding: 11px 50px 11px 70px;
  font-size: 21px;
  line-height: 18px;
  border: 3px solid #ffffff;
  color: #e9292a;
  background: #f1f5f7 url("../img/icon-phone.png") no-repeat 10px center;
  text-decoration: none;
}

.contact .head-adress {
  padding-top: 4px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.user-block {
  float: right;
  min-width: 281px;
  min-height: 43px;
  font-size: 0;
}
.user-block p {
  display: inline-block;
  vertical-align: top;
}
.user-block a {
  display: block;
  vertical-align: top;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  background: #FFFFFF;
  text-decoration: none;
}
.user-block .entry {
  position: relative;
  padding: 13px 25px 14px 45px;
  background: #FFFFFF url("../img/icon-login.png") no-repeat 12px 13px;
}
.user-block .entry:hover {
  color: #EF434F;
  background: #FFFFFF url("../img/icon-login-dark.png") no-repeat 12px 13px;
}
.user-block .entry:active {
  color: #CACACA;
  background: #fff url("../img/icon-login.png") no-repeat 12px 13px;
}
.user-block .check-in {
  padding: 13px 26px;
  margin-left: 10px;
}
.user-block .check-in:hover {
  color: #EF434F;
}
.user-block .check-in:active {
  color: #cacaca;
}
.user-block .user {
  position: relative;
  padding: 13px 68px 13px 48px;
  background:  url("../img/icon-user.png") no-repeat 12px center,
              url("../img/icon-logout.png") no-repeat 270px center;
  background-color: #fff;
}
.user-block .user:hover {
  background:  url("../img/icon-user-dark.png") no-repeat 12px center,
              url("../img/icon-logout-dark.png") no-repeat 270px center;
  background-color: #fff;
}
.user-block .user:active {
  color: #C5C5C5;
}
.sub-user {
  position: relative;
  float: right;
  margin-right: 70px;
  margin-top: 7px;
  color: #33435D;
}
.sub-user a {
  font-size: 16px;
  color: #35455E;
}
.sub-user a:hover {
  color: #EE4450;
}
.sub-user a:active {
  color: #CDD2D8;
}
.sub-user span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 8px;
  font-size: 7px;
  color: #33435D;
}
nav {
  background-color: #32425c;
  border-bottom: 5px solid #293449;

}
.main-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}
.main-navigation li {
  display: inline-block;
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #293449;
}
.main-navigation a:active {
  background: #1D2739;
}

main {
  padding-top: 39px;
}
.main-catalog {
  padding-top: 20px;
}
.promo {
  height: 450px;
  margin-bottom: 32px;
}
.promo-card {
  width: 300px;
  height: 123px;
  text-align: left;
}
.promo-card h3 {
  margin-top: 20px;
  margin-left: 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #FFFFFF;
}
.promo-card a {
  display: block;
  width: 135px;
  height: 38px;
  margin-left: 25px;
  margin-top: 12px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.promo-card a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.promo-card a:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.card1 {
  position: relative;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  background: #f6b22d url("../img/bucket.png") no-repeat 214px 30px;
}
.card1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 240px;
  width: 75px;
  height: 61px;
  background: url("../img/new-flag.png") no-repeat;
}
.card2 {
  position: relative;
  float: left;
  margin-top: 20px;
  background: #4AAFDE url("../img/drill.png") no-repeat 200px 30px;
}
.card3 {
  position: relative;
  float: right;
  margin-top: 20px;
  background: #CC79D1 url("../img/tractor.png") no-repeat 190px 30px;;
}
.slider {
  position: relative;
  float: left;
  margin-top: 20px;
  background: url(../img/worker.png) no-repeat;
  width: 620px;
  height: 266px;
}
.slider::before {
  content: "";
  position: absolute;
  top: 112px;
  left: 25px;
  width: 35px;
  height: 50px;
  background: url("../img/icon-left.png") no-repeat;
}
.slider::after {
  content: "";
  position: absolute;
  top: 112px;
  left: 577px;
  width: 35px;
  height: 50px;
  background: url("../img/icon-right.png") no-repeat;
}
.slider h1 {
  margin-top: 25px;
  margin-left: 25px;
  color: #ffffff;
  text-transform: uppercase;
}
.slider p {
  margin-left: 25px;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.slider a {
  position: absolute;
  top: 206px;
  left: 25px;
  display: block;
  width: 195px;
  height: 38px;
  padding-left: 50px;
  font-size: 14px;
  font-family: Cuprum;
  line-height: 37px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}
.style-btn {
  background: #EE3643;
}
.style-btn:hover {
  background: #CA2C37;
}
.style-btn:active {
  background: #BA2732;
}
.card4 {
  position: relative;
  float: right;
  margin-top: 20px;
  background: #85D179 url("../img/gds-basket.png") no-repeat 200px 25px;
}
.card5 {
  position: relative;
  float: right;
  margin-top: 20px;
  background: #F6B22D url("../img/bus.png") no-repeat 190px 30px;;
}
.line {
  margin-bottom: 20px;
  height: 89px;
  background-color: #f7f3ec;
  color: #32425c;
}
.line-catalog {
  background-color: #f2f6f8;
}
.line h2 {
  float: left;
  margin: 30px;
}
.line a {
  float: right;
  display: block;
  margin: 25px;
  padding: 10px;
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.block-filter {
  float: left;
  width: 220px;
  font-family: 'PT Sans', sans-serif;
}
.block-filter li {
  margin-top: 16px;
  margin-left: 35px;
}
.block-filter p {
  height: 38px;
  padding-top: 10px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
  margin-bottom: 10px;
}
.block-filter b {
  display: block;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.block-filter .price {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.block-filter .scale {
  position: relative;
  height: 80px;
  background-color: #f7f3ec;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 10px;
}
.scale-ctrl span {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border-radius: 2px;
}
.scale-ctrl {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 1px #ababab;
  z-index: 20;
}
.ctrl1 {
    left: 20px;
}
.ctrl2 {
  right: 40px;
}
.scale .green-line {
  position: absolute;
  top: 39px;
  left: 20px;
  width: 160px;
  height: 2px;
  background: #00ca74;
  box-shadow: 20px 0 #d7dcde;
  z-index: 10;
}
.block-filter input[type="text"] {
  background-color: #f7f3ec;
  width: 95px;
  height: 38px;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  text-align: center;
}
.dash {
  display: inline-block;
  vertical-align: top;
  margin: 8px;
  font-size: 16px;
}
.manufact {
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.manufact li {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}
.manufact label {
  width: 27px;
  height: 23px;
  display: block;
  position: relative;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  position: absolute;
  top: -4px;
  right: 35px;
  width: 100%;
  height: 100%;
  background: url("../img/icon-check-off.png") no-repeat;
  cursor: pointer;
}
input[type="checkbox"]:checked + span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/icon-check-on.png") no-repeat;
}
.supply {
  margin-bottom: 70px;
}
.supply li {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}
.supply label {
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
  position: absolute;
  top: -4px;
  right: 35px;
  width: 100%;
  height: 100%;
  background: url("../img/icon-circle.png") no-repeat;
  cursor: pointer;
}
input[type="radio"]:checked + span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/icon-circle-dot.png") no-repeat;
}
.block-filter button {
  padding: 9px 35px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}
.line-filter {
  float: right;
  padding: 11px 18px;
  margin-bottom: 20px;
  width: 700px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}
.line-filter a {
  display: block;
  color: #acaaa5;
  text-decoration: none;
}
.line-filter .active {
  color: red;
  border-bottom: none;
}
.line-filter .by-type,
.line-filter .by-function {
  border-bottom: 1px dotted red;
}
.line-filter span:hover {
  color: #000;
  border-bottom: 1px dotted red;
}
.line-filter .arrow-up {
  margin-right: 18px;
  margin-left: 40px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 9px solid red;
  display: inline-block;
  vertical-align: top;
}
.line-filter .arrow-up:hover {
  border-bottom: 9px solid #000;
}
.line-filter .arrow-down {
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-top:9px solid #c6c2bd;
  display: inline-block;
  vertical-align: top;
}
.line-filter .arrow-down:hover {
  border-top:9px solid #000;
  border-bottom-color: transporate;
}
.line-filter b,
.line-filter ul {
  display: inline-block;
  vertical-align: top;
}
.line-filter ul {
  float: right;
}
.line-filter li{
  display: inline-block;
  list-style: none;
  vertical-align: top;
  border-bottom: 1px dott red;
}
.line-filter b {
  float: left;
  margin-right: 140px;
}
.line-filter li:nth-child(1){
  margin-right: 72px;
}
.line-filter li:nth-child(2) {
  margin-right: 65px;
}
.line-filter li:nth-child(3) {

}
.catalog-items {
  float: right;
  width: 700px;
}
.paginator {
  float: right;
  margin-top: 30px;
  margin-right: 416px;
  clear: both;
}
.paginator li {
  display: inline-block;
  vertical-align: top;
}
.paginator a {
  display: block;
  width: 38px;
  height: 38px;
  margin-left: 7px;
  font-size: 13px;
  line-height: 36px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.paginator a:hover {
  color: #222222;
  border-color: #BDC6CA;
  background-color: #fff;
}
.paginator a:active {
  color: #222222;
  border-color: #EE3643;
  background-color: #fff;
}
.paginator .active {
  color: #fff;
  background-color: #ee3643;
}
.paginator .next-page {
  width: 138px;
}
.goods {
  font-size: 0;
}
.goods .perf {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 318px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  border: 1px solid #e5e5e5;
}
.goods .last-perf,
.goods .perf:last-child {
  margin-right: 0;
}
.perf .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
     z-index: 20;
}
.perf .new-flag {
    background:url("../img/new-flag.png") no-repeat 0 0;
}
.perf .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 216px;
  height: 170px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}
.perf .actions .buy,
.perf .actions .in-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  font-size: 14px;
  font-family: Cuprum;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.perf .actions .in-bookmark {
  color: #32425c;
  background: #fff;
  border-bottom-color: #63a63e;
}
.perf .actions {
  display: none;
}
.perf .buy {
  background: red url("../img/icon-basket.png") no-repeat 10px center;
}
.perf .buy:hover {
    background: #5FBB2D url("../img/icon-basket-wh.png") no-repeat 10px center;
}
.perf .buy:active {
  background-color: #518534;
  border-color: #518534;
}
.perf .in-bookmark:hover {
  border-color: #32425C;
}
.perf .in-bookmark:active {
  color: #C1C6CE;
  border-color: #C1C6CE;
}
.perf:hover {
  box-shadow: 3px 10px 14px 0px rgba(50, 50, 50, 0.5);
}
.perf:hover .actions {
  display: block;
}
.perf .item-info {
  display: inline-block;
  vertical-align: bottom;
}
.perf .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom:  15px;
}
.perf .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}
.perf .price {
    position: relative;
    width: 140px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 40px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.perf .price::after {
  content:"";
  position: absolute;
  top: 0;
  right: -20px;
  border: 20px solid white;
  border-left-color: #ee3643;
}
.makers {
  margin-bottom: 65px;
  font-size: 0;
}
.brand {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  line-height: 145px;
  background-color: #FFFFFF;
}
.brand:nth-child(4), .brand:nth-child(8) {
  margin-right: 0;
}
.brand img {
  display: inline-block;
  vertical-align: middle;
}
.brand:hover {
  box-shadow: 3px 10px 14px 0px rgba(50, 50, 50, 0.5);
  cursor: pointer;
}
.brand:active {
  box-shadow: 1px 5px 5px 0px rgba(50, 50, 50, 0.5);
}
.brand:active img {
  opacity: 0.2;
}
.services, .about {
  margin: 0 auto;
  padding-top: 65px;
  height: 522px;
  color: #32425C;
  background-color: #F2F6F8;
  clear: both;
}
.about {
  height: 260px;
  margin-top: 60px;
}
.services p, .about p {
  font-size: 13px;
}
.about p {
  line-height: 24px;
}
.img-holder {
  position: relative;
}
.deliv-car {
  position: absolute;
  content: "";
  top: 195px;
  left: 460px;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
}
.services h2, .about h2 {
  margin-bottom: 30px;
}
.services p {
  margin-bottom: 65px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service-menu {
  float: left;
  position: relative;
  width: 255px;
  font-size: 0;
}
.service-menu li {
  display: block;
  vertical-align: top;
  width: 240px;
  padding: 15px 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background: #32425C;
  border-bottom: 1px solid #293449;
}
.service-menu li:hover {
  color: #fff;
  background: #293449;
  cursor: pointer;
}
.service-menu ul::before {
  position: absolute;
  content: "";
  top: -40px;
  left: 230px;
  width: 27px;
  height: 270px;
  background: url("../img/line-shadow.png") no-repeat;
}
.service-menu .active {
  color: #32425c;
  background: #ffffff;
}
.checked-service {
  float: left;
  width: 280px;
  margin-left: 65px;
  padding-top: 5px;
}
.checked-service b {
  display: block;
  margin-bottom: 30px;
  font: 36px Cuprum;
  line-height: 24px;
  text-transform: uppercase;
}
.information {
  padding-top: 82px;
  min-height: 536px;
  color: #000000;
}
.information p {
  margin-top: 35px;
}
.information .info-link {
  display: block;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.information-left a {
  width: 220px;
}
.information-left {
  float: left;
}
.information-left ul {
  margin-top: 30px;
}
.information-left li {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
  font-family: Cuprum;
    list-style: none;
    padding-left: 35px;
    background: url('../img/li-line.png')no-repeat left center;
  list-style-position: inside;
}
.information-right {
  float: right;
}
.information-right img {
  margin-top: 35px;
}
footer {
  background-color: #32425C;
  color: #f1f5f7;
}
.foot-up {
  min-height: 193px;
  font-size: 18px;
  line-height: 24px;
}
.logo-dwn {
  float: left;
  text-align: left;
}
.adress {
  margin-top: 30px;
  line-height: 24px;
}
.item {
  float: right;
  margin-top: 35px;
}
.item li {
  display: inline;
  margin-left: 55px;
}
.item a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.item a:hover {
  text-decoration: underline;
}
.item a:active {
  opacity: 0.5;
  text-decoration: none;
}
.item2 a {
  color: #ffd180;
}
.foot-down {
  padding-top: 40px;
  height: 107px;
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
  text-align: left;
}
.foot-down a {
  color: #ffd180;
  text-decoration: none;
}
.foot-down a:hover {
  text-decoration: underline;
}
.foot-down a:active {
  color: red;
  text-decoration: none;
}
.copyright {
  float: left;
  margin-right: 170px;
  font-size: 16px;
  line-height: 18px;
}
.social {
  float: left;
  margin-right: 120px;
  font-size: 0;
  text-align: center;
}
.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  border-radius: 20px;
  vertical-align: top;
  background: #212a3a url("../img/sprite.png") no-repeat center;
}
.social-btn:hover,
.social-btn:active {
  background-color: red;
}
.btn-vk {
  background-position: 0px -395px;
}
.btn-fb {
  background-position: 5px -72px;
}
.btn-inst {
  background-position: 2px -142px;
}
.feedback {
  float: left;
  margin-right: 50px;
}
.develop {
  float: right;
  display: block;
  margin-right: 9px;
}
/** Спрайты....
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -46px;
}

.sprite-icon-facebook {
    width: 10px;
    height: 18px;
    background-position: -10px -82px;
}

.sprite-icon-home {
    width: 15px;
    height: 12px;
    background-position: -10px -120px;
}

.sprite-icon-instagramm {
    width: 17px;
    height: 17px;
    background-position: -10px -152px;
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -10px -189px;
}

.sprite-icon-logout {
    width: 21px;
    height: 17px;
    background-position: -10px -226px;
}

.sprite-icon-phone {
    width: 19px;
    height: 19px;
    background-position: -10px -263px;
}

.sprite-icon-right {
    width: 8px;
    height: 12px;
    background-position: -10px -302px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -334px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -10px -371px;
}

.sprite-icon-vk {
    width: 20px;
    height: 12px;
    background-position: -10px -409px;
}
Спрайты большие....

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-bucket {
    width: 44px;
    height: 65px;
    background-position: -10px -10px;
}

.sprite-bus {
    width: 78px;
    height: 63px;
    background-position: -74px -10px;
}

.sprite-drill {
    width: 75px;
    height: 61px;
    background-position: -74px -93px;
}

.sprite-gds-basket {
    width: 59px;
    height: 72px;
    background-position: -172px -10px;
}

.sprite-tractor {
    width: 78px;
    height: 62px;
    background-position: -169px -102px;
}

**/
